.search {
  padding: 70px 70px 0;
}

.search__line {
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  margin-top: 44px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:  1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  height: 72px;
  padding: 0 10px 0 25px;
  margin-bottom: 26px;
}

.search__form:focus-within {
  border-color: #2BE080; 
}

.search__input {
  border: none;
  outline: none;
  width: 100%;
}

.search__button {
  background-color: #FF6838;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 17px 20px;
  cursor: pointer;
  transition: .3s ease;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 70px 30px 0;
  }
}

@media screen and (max-width: 420px) {
  .search {
    padding: 70px 14px 0;
  }

  .search__form {
    margin-bottom: 30px;
  }
}

